<% u = User.find(person) %>

<a href='/users/<%= u.login %>'>
  <img src='<%= u.avatar_url %>' 
       alt='<%= u.login %>' 
       title='<%= u.login %>' 
       class="img-rounded user <%= "contributor" if u.contributor %>" />
</a>