<table class='table vote-list'>
  <tr>
    <th class="text-center">State</th>
    <th>Title</th>
    <th>View</th>
    <th class="text-center">Participants</th>
    <th class="text-center">Age</th>
    <th class="text-center"><%= state_image('agree')%></th>
    <th class="text-center"><%= state_image('abstain')%></th>
    <th class="text-center"><%= state_image('disagree')%></th>
    <th class="text-center">Proposer</th>
  </tr>
  <% pull_requests.each do |pr| %>
    <tr class='<%= row_class(pr) %>'>
      <td class="text-center"><span class='label label-<%= row_class(pr) %>'><%= pr.state.capitalize %></span></td>
      <td><a href='/<%= pr.number %>'><%= pr.title %></a></td> 
      <td class="text-center"><a href='http://github.com/openpolitics/manifesto/pull/<%= pr.number %>'>#<%= pr.number %></a></td>
      <td class="text-center"><%= pr.participants.count %></td>
      <td class="text-center"><%= pr.age %> days</td>
      <td class="text-center"><%= pr.agree.count %></td>
      <td class="text-center"><%= pr.abstain.count %></td>
      <td class="text-center"><%= pr.disagree.count %></td>
      <td class="proposer text-center"><%= partial :person, locals: {person: pr.proposer } %></td> 
    </tr>
  <% end %>
</table>
