<h1>Open Votes</h1>

<table class='table'>
  <tr>
    <th>Proposer</th>
    <th>Title</th>
    <th>Agree</th>
    <th>Disagree</th>
    <th>Abstain</th>
    <th>State</th>
  </tr>
  <% @pull_requests.each do |pr| %>
    <tr class='<%= row_class(pr) %>'>
      <td><a href='<%= pr.proposer['html_url'] %>'><img src='<%= pr.proposer['avatar_url'] %>' alt='<%= pr.proposer['login'] %>' height='24px' /></a></td> 
      <td><a href='/<%= pr.number %>'><%= pr.title %></a></td> 
      <td><%= pr.agree.count %></td>
      <td><%= pr.disagree.count %></td>
      <td><%= pr.abstain.count %></td>
      <td><%= pr.state %></td>
    </tr>
  <% end %>
</table>