<h1>Open Votes</h1>

<table class='table vote-list'>
  <tr>
    <th>Proposer</th>
    <th>Title</th>
    <th>Participants</th>
    <th>Agree</th>
    <th>Disagree</th>
    <th>Abstain</th>
    <th>State</th>
  </tr>
  <% @pull_requests.each do |pr| %>
    <tr class='<%= row_class(pr) %>'>
      <td class="proposer text-center"><%= partial :person, locals: {person: pr.proposer } %></td> 
      <td><a href='/<%= pr.number %>'><%= pr.title %></a></td> 
      <td class="text-center"><%= pr.participants.count %></td>
      <td class="text-center"><%= pr.agree.count %></td>
      <td class="text-center"><%= pr.disagree.count %></td>
      <td class="text-center"><%= pr.abstain.count %></td>
      <td><%= pr.state %></td>
    </tr>
  <% end %>
</table>