<ol class="breadcrumb">
  <li><a href="/">All Votes</a></li>
  <li class="active">#<%= @pull_request.number %></li>
</ol>

<h1><%= @pull_request.title %> <a href='http://github.com/openpolitics/manifesto/pull/<%= @pull_request.number %>'><i class='fa fa-github'></i></a></h1>

<div class='row'>
  <div class='col-md-12'>
    <p>
      by <a href='/users/<%= @pull_request.proposer %>'><%= @pull_request.proposer %></a>
    </p>
    <h2><span class='label label-<%= row_class(@pull_request) %>'><%= @pull_request.state.capitalize %></span></h2>
  </div>
</div>

<hr/>

<div class='alert alert-info'>
  <p>
    This page is currently just a utility page for showing a summary of voting 
    activity. To read change details, comment, or vote, please 
    <a href='http://github.com/openpolitics/manifesto/pull/<%= @pull_request.number %>'>
      visit the GitHub pull request page.
    </a>
  </p>
</div>

<div class='row'>

  <div class='col-md-4'>
    <div class='panel panel-success agree'>
      <div class="panel-heading">
        <%= state_image('agree')%>
        Agree: <%= @pull_request.agree.count %>
      </div>
      <div class='panel-body'>
        <%= partial :person, collection: @pull_request.agree %>
      </div>
    </div>
  </div>

  <div class='col-md-4'>
    <div class='panel panel-info abstain'>
      <div class="panel-heading">
        <%= state_image('abstain')%>
        Abstaining: <%= @pull_request.abstain.count %>
      </div>
      <div class='panel-body'>
        <%= partial :person, collection: @pull_request.abstain %>
      </div>
    </div>
  </div>

  <div class='col-md-4'>
    <div class='panel panel-danger disagree'>
      <div class="panel-heading">
        <%= state_image('disagree')%>
        Disagree: <%= @pull_request.disagree.count %>
      </div>
      <div class='panel-body'>
        <%= partial :person, collection: @pull_request.disagree %>
      </div>
    </div>
  </div>

</div>

<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default participants'>
      <div class="panel-heading">
        Participants: <%= @pull_request.participants.count %>
      </div>
      <div class='panel-body'>
        <%= partial :person, collection: @pull_request.participants %>
      <div>
    </div>
  </div>
</div>

<div style='margin-top: 30px'>
  <form action='/<%= @pull_request.number %>/update' method='POST'>
    <button type='submit' class='btn btn-warning'>Update</button>
  </form>
</div>