<ol class="breadcrumb">
  <li><a href="/">All Votes</a></li>
  <li class="active">#<%= @pull_request.number %></li>
</ol>

<h1><a href='http://github.com/openpolitics/manifesto/pull/<%= @pull_request.number %>'><%= @pull_request.title %></a></h1>

<div class='well'>

  <div class='proposer pull-right'>
    Proposer: <%= partial :person, locals: {person: @pull_request.proposer } %>
  </div>

  <div class='status'>
    <h1><span class='label label-<%= row_class(@pull_request) %>'><%= @pull_request.state.capitalize %></span></h1>
  </div>
  
</div>

<div class='row'>

  <div class='col-md-4'>
    <div class='panel panel-success agree'>
      <div class="panel-heading">
        <%= state_image('agree')%>
        Agree: <%= @pull_request.agree.count %>
      </div>
      <div class='panel-body'>
        <%= partial :person, collection: @pull_request.agree %>
      </div>
    </div>
  </div>

  <div class='col-md-4'>
    <div class='panel panel-info abstain'>
      <div class="panel-heading">
        <%= state_image('abstain')%>
        Abstaining: <%= @pull_request.abstain.count %>
      </div>
      <div class='panel-body'>
        <%= partial :person, collection: @pull_request.abstain %>
      </div>
    </div>
  </div>

  <div class='col-md-4'>
    <div class='panel panel-danger disagree'>
      <div class="panel-heading">
        <%= state_image('disagree')%>
        Disagree: <%= @pull_request.disagree.count %>
      </div>
      <div class='panel-body'>
        <%= partial :person, collection: @pull_request.disagree %>
      </div>
    </div>
  </div>

</div>

<div style='margin-top: 30px'>
  <form action='/<%= @pull_request.number %>/update' method='POST'>
    <button type='submit' class='btn btn-warning'>Update</button>
  </form>
</div>