<h1><a href='http://github.com/openpolitics/manifesto/pull/<%= @pull_request.number %>'>#<%= @pull_request.number %>: <%= @pull_request.title %></a></h1>

<div class='proposer'>
  Proposer: <%= partial :person, locals: {person: @pull_request.proposer } %>
</div>

<div>
  State: <%= @pull_request.state.capitalize %>
</div>

<% if @pull_request.agree.count > 0 %>
  <div class='agree'>
    <h2>Agree:</h2>
    <%= partial :person, collection: @pull_request.agree %>
  </div>
<% end %>

<% if @pull_request.disagree.count > 0 %>
  <div class='disagree'>
    <h2>Disagree:</h2>
    <%= partial :person, collection: @pull_request.disagree %>
  </div>
<% end %>

<% if @pull_request.abstain.count > 0 %>
  <div class='abstain'>
    <h2>Abstentions:</h2>
    <%= partial :person, collection: @pull_request.abstain %>
  </div>
<% end %>

<div style='margin-top: 30px'>
  <form action='/<%= @pull_request.number %>/update' method='POST'>
    <button type='submit' class='btn btn-warning'>Update</button>
  </form>
</div>