<h1><a href='http://github.com/openpolitics/manifesto/pull/<%= @pull_request.number %>'>#<%= @pull_request.number %>: <%= @pull_request.title %></a></h1>

<div class='proposer'>
  Proposer: <%= partial :person, locals: {person: @pull_request.proposer } %>
</div>

<div>
  State: <span class='label label-<%= row_class(@pull_request) %>'><%= @pull_request.state.capitalize %></span>
</div>

<div class='row'>

  <div class='col-md-4'>
    <div class='panel panel-success agree'>
      <div class="panel-heading">
        <img src='https://github.global.ssl.fastly.net/images/icons/emoji/+1.png?v5' title='Agree'/>
        Agree
      </div>
      <div class='panel-body'>
        <%= partial :person, collection: @pull_request.agree %>
      </div>
    </div>
  </div>

  <div class='col-md-4'>
    <div class='panel panel-info abstain'>
      <div class="panel-heading">
        <img src='https://github.global.ssl.fastly.net/images/icons/emoji/hand.png?v5' title='Abstain'/>
        Abstaining
      </div>
      <div class='panel-body'>
        <%= partial :person, collection: @pull_request.abstain %>
      </div>
    </div>
  </div>

  <div class='col-md-4'>
    <div class='panel panel-danger disagree'>
      <div class="panel-heading">
        <img src='https://github.global.ssl.fastly.net/images/icons/emoji/-1.png?v5' title='Disagree'/>
        Disagree
      </div>
      <div class='panel-body'>
        <%= partial :person, collection: @pull_request.disagree %>
      </div>
    </div>
  </div>

</div>

<div style='margin-top: 30px'>
  <form action='/<%= @pull_request.number %>/update' method='POST'>
    <button type='submit' class='btn btn-warning'>Update</button>
  </form>
</div>