<h1><a href='http://github.com/openpolitics/manifesto/pull/<%= @pull_request.number %>'>#<%= @pull_request.number %>: <%= @pull_request.title %></a></h1>

<div>
  Proposer: <a href='<%= @pull_request.proposer['html_url'] %>'><img src='<%= @pull_request.proposer['avatar_url'] %>' alt='<%= @pull_request.proposer['login'] %>' height='24px' /></a>
</div>

<div>
  State: <%= @pull_request.state.capitalize %>
</div>

<% if @pull_request.agree.count > 0 %>
  <div>
    <h2>Agree:</h2>

    <% @pull_request.agree.each do |user| %>
      <a href='<%= user['html_url']%>'><img src='<%= user['avatar_url'] %>' alt='<%= user['login'] %>' class="img-rounded"/></a>
    <% end %>
  </div>
<% end %>

<% if @pull_request.disagree.count > 0 %>
  <div>
    <h2>Disagree:</h2>

    <% @pull_request.disagree.each do |user| %>
      <a href='<%= user['html_url']%>'><img src='<%= user['avatar_url'] %>' alt='<%= user['login'] %>' class="img-rounded"/></a>
    <% end %>
  </div>
<% end %>

<% if @pull_request.abstain.count > 0 %>
  <div>
    <h2>Abstentions:</h2>

    <% @pull_request.abstain.each do |user| %>
      <a href='<%= user['html_url']%>'><img src='<%= user['avatar_url'] %>' alt='<%= user['login'] %>' class="img-rounded"/></a>
    <% end %>
  </div>
<% end %>

<div style='margin-top: 30px'>
  <form action='/<%= @pull_request.number %>/update' method='POST'>
    <button type='submit' class='btn btn-warning'>Update</button>
  </form>
</div>