<ol class="breadcrumb">
  <li><a href="/">All Votes</a></li>
  <li><a href='/users'>Users</a></li>
  <li class="active"><%= @user.login %></li>
</ol>

<h1><%= @user.login %> <a href='http://github.com/<%= @user.login %>'><i class='fa fa-github'></i></a></h1>

<% if @user.contributor %>
  <div class='label label-primary'>contributor</div>
<% end %>

<h2>Not voted on:</h2>

<%= partial :pr_list, locals: {pull_requests: @not_voted} %>

<h2>Voted on:</h2>

<table class='table vote-list'>
  <tr>
    <th class="text-center">State</th>
    <th>Title</th>
    <th class="text-center"><%= @user.login %>'s vote</th>
    <th class="text-center">Proposer</th>
  </tr>
  <% @voted.each do |pr| %>
    <tr class='<%= user_row_class(@user.state(pr.number)) %>'>
      <td class="text-center"><span class='label label-<%= row_class(pr) %>'><%= pr.state.capitalize %></span></td>
      <td><a href='/<%= pr.number %>'><%= pr.title %></a></td> 
      <td class="text-center"><%= state_image(@user.state(pr.number)) %></td> 
      <td class="proposer text-center"><%= partial :person, locals: {person: pr.proposer } %></td> 
    </tr>
  <% end %>
</table>

<h2>Proposed:</h2>

<%= partial :pr_list, locals: {pull_requests: @proposed} %>