<div class='pull-right'>
  <%= render partial: 'shared/person', locals: {person: @user, size: "large" } %>
</div>

<h1>Settings</h1>


<%= form_for @user, html: {class: "form-horizontal", style: 'clear: right'} do |f| %>
  <div class="form-group">
    <label for="user[email]" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <%= f.email_field :email, placeholder: "Email", type: "email", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Notifications</label>
    <div class="col-sm-6">
      <div class="checkbox">
        <label>
          <%= f.check_box :notify_new %> New proposals I can vote on
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary", value: "Save Settings" %>
    </div>
  </div>
<% end %>

<% if @has_cla %>
  <h2>Contributor License Agreement</h2>

  <p>
    <%= t :cla %>
  </p>

  <% if @user.needs_to_sign_cla? %>
    <%= form_for @user, html: {class: "form-horizontal", style: 'clear: right'} do |f| %>
      <%= hidden_field_tag "cla_accepted", true %>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= link_to "#{t(:view_cla)}".html_safe, ENV.fetch("CLA_URL"), class: 'btn btn-default', target: :_blank, rel: 'noopener noreferrer' %>
          <%= f.submit class: "btn btn-primary", value: t(:sign_cla) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-sm-offset-2 col-sm-10">
      <%= fa_icon 'check' %>
      You have signed the <a href='<%= ENV.fetch("CLA_URL")%>' target='_blank' rel='noopener noreferrer'>contributor license agreement</a>.
    </div>
  <% end %>

  <span style="clear: both">&nbsp;</span>

<% end %>
