<ol class="breadcrumb">
  <li><a href="/">All Votes</a></li>
  <li><a href='/users'>Users</a></li>
  <li class="active"><%= @user.login %></li>
</ol>

<img class="img-rounded pull-right user-large" src='<%= @user.avatar_url %>' 
alt='<%= @user.login %>' 
title='<%= @user.login %>' />
<h1 class='user'>
  <%= @user.login %> <a href='http://github.com/<%= @user.login %>'><i class='fa fa-github'></i></a>
</h1>

<% if @user.contributor %>
  <div class='label label-primary'>contributor</div>
<% end %>

<h2 style='clear: right'>Not voted on yet:</h2>

<%= render partial: 'shared/proposal_list', locals: {proposals: @not_voted} %>

<h2>Voted on (<%= @voted.count %>):</h2>

<table class='table vote-list'>
  <tr>
    <th class="text-center">State</th>
    <th>Title</th>
    <th class="text-center"><%= @user.login %>'s vote</th>
    <th class="text-center"><i class='fa fa-user'></i></th>
  </tr>
  <% @voted.each do |pr| %>
    <tr class='<%= user_row_class(@user.vote(pr)) %>'>
      <td class="text-center">
        <span class='label label-<%= row_class(pr) %>'>
          <%= state_icon(pr.state) %>
          <span class='hidden-xs'><%= pr.state.capitalize %></span>
        </span>
      </td>
      <td><a href='/proposals/<%= pr.number %>'><%= pr.title %></a></td> 
      <td class="text-center"><%= vote_icon(@user.vote(pr)) %></td> 
      <td class="proposer text-center"><%= render partial: 'shared/person', locals: {person: pr.proposer } %></td> 
    </tr>
  <% end %>
</table>

<h2>Proposed (<%= @proposed.count %>):</h2>

<%= render partial: 'shared/proposal_list', locals: {proposals: @proposed} %>