<div class='pull-right'>
  <%= render partial: 'shared/person', locals: {person: @user, size: "large" } %>
</div>
<h1 class='user'>
  <%= @user.login %> <a href='https://github.com/<%= @user.login %>'><%= fa_icon 'github' %></a>
</h1>

<% if @user.author %>
  <div class='label label-primary'>author</div>
<% end %>

<% if @user.can_vote? %>
  <div class='label label-primary'>voter</div>
<% end %>

<% if @user.admin? %>
  <div class='label label-danger'>admin</div>
<% end %>

<h2 style='clear: right'>Not voted on yet:</h2>

<%= render partial: 'shared/proposal_list', locals: {proposals: @not_voted} %>

<h2>Voted on (<%= @voted_count %>):</h2>

<table class='table vote-list'>
  <tr>
    <th class="text-center">State</th>
    <th>Title</th>
    <th class="text-center"><%= @user.login %>'s vote</th>
    <th class="text-center"><%= fa_icon 'user-o' %></i></th>
  </tr>
  <% @voted.each do |pr| %>
    <tr class='<%= user_row_class(@user.vote(pr)) %>'>
      <td class="text-center">
        <span class='label label-<%= row_class(pr) %>'>
          <%= state_icon(pr.state) %>
          <span class='hidden-xs'><%= pr.state.capitalize %></span>
        </span>
      </td>
      <td><a href='/proposals/<%= pr.number %>'><%= pr.title %></a></td>
      <td class="text-center"><%= vote_icon(@user.vote(pr)) %></td>
      <td class="proposer text-center"><%= render partial: 'shared/person', locals: {person: pr.proposer, size: "small" } %></td>
    </tr>
  <% end %>
</table>

<div style="text-align: center">
  <%= paginate @voted, param_name: :voted_page%>
</div>

<h2>Proposed (<%= @proposed_count %>):</h2>

<%= render partial: 'shared/proposal_list', locals: {proposals: @proposed} %>

<div style="text-align: center">
  <%= paginate @proposed, param_name: :proposed_page%>
</div>
