<% boxclass = 'well' %>
<% boxclass = 'alert alert-danger' if body.contains_block? %>
<% boxclass = 'alert alert-warning' if body.contains_no? %>
<% boxclass = 'alert alert-info' if body.contains_abstention? %>
<% boxclass = 'alert alert-success' if body.contains_yes? %>
<div class='comment <%= boxclass %> <%= by_author ? 'pull-left' : 'pull-right' %>'  style='width: 75%'>
  <p class='<%= by_author ? 'pull-left' : 'pull-right' %>'>
    <%= render partial: 'shared/person', locals: { person: user } %>
  </p>
  <p>
    <%= link_to "@#{user.login}", user %> - <%= link_to time_ago_in_words(time)+" ago", original_url %></small>
  </p>
  <p>
    <%= render_github_markdown(body) %>
  </p>
</div>