<table class='table vote-list'>
  <tr>
    <th class="text-center">State</th>
    <th>Title</th>
    <th class="text-center hidden-xs"><%= fa_icon 'comments-o' %></th>
    <th class="text-center"><%= fa_icon 'clock-o' %></th>
    <th class="text-center"><%= vote_icon('yes')%></th>
    <th class="text-center"><%= vote_icon('no')%></th>
    <th class="text-center"><%= vote_icon('block')%></th>
    <th class="text-center"><%= fa_icon 'user-o' %></th>
  </tr>
  <% proposals.each do |proposal| %>
    <tr class='<%= row_class(proposal) %>'>
      <td class="text-center">
        <span class='label label-<%= row_class(proposal) %>'>
          <%= state_icon(proposal.state) %>
          <span class='hidden-xs'><%= proposal.state.capitalize %></span>
        </span>
      </td>
      <td><a href='/proposals/<%= proposal.number %>'><%= proposal.title %></a></td> 
      <td class="text-center hidden-xs"><%= proposal.participants.count %></td>
      <td class="text-center"><%= proposal.age %>d</td>
      <td class="text-center"><%= proposal.yes.count %></td>
      <td class="text-center"><%= proposal.no.count %></td>
      <td class="text-center"><%= proposal.block.count %></td>
      <td class="proposer text-center"><%= render partial: 'shared/person', locals: {person: proposal.proposer, size: "small"} %></td> 
    </tr>
  <% end %>
</table>
