<ol class="breadcrumb">
  <li><a href="/">All Proposals</a></li>
  <li class="active">#<%= @proposal.number %></li>
</ol>

<h1>
  
  <%= @proposal.title %>
  <a href='<%= @proposal.url %>'>
    <%= fa_icon 'github' %>
  </a>
</h1>

<div class='row' style='text-align: center'>
  <div class='col-md-3 user'>
    Proposer
    <br/>
    <%= render partial: 'shared/person', locals: { person: @proposal.proposer } %>
  </div>
  <div class='col-md-3'>
    State
    <br/>
    <h2>
      <span class='label label-<%= row_class(@proposal) %>'>
        <%= state_icon(@proposal.state) %>
        <%= @proposal.state.capitalize %>
      </span>
    </h2>
  </div>
  <div class='col-md-3'>
    Vote Score
    <br/>
    <% rowclass = @proposal.blocked? ? "danger" : "warning" %>
    <% rowclass = 'success' if @proposal.agreed? %>
    <h2><span class='label label-<%= rowclass %>'><%= @proposal.score %></span></h2>
  </div>
  <div class='col-md-3'>
    Age
    <br/>
    <h2>
      <% rowclass = @proposal.too_old? || @proposal.too_new? ? "danger" : "success" %>
      <span class='label label-<%= rowclass %>'><%= @proposal.age %> days</span>
    </h2>
  </div>
</div>

<hr/>

<div class='row'>

  <div class='col-md-9'>
    
    <div>
      <p>
        <a class='btn btn-primary btn-block' href='<%= @proposal.url %>/files'>
          <%= fa_icon 'search' %>
          View changes
        </a>
      </p>
    </div>
    
    <div class='comment well pull-left' style='width: 75%'>
      <p class='pull-left'>
        <%= render partial: 'shared/person', locals: { person: @proposal.proposer } %>
      </p>
      <p>
        <small><%= link_to time_ago_in_words(@proposal.github_pr.created_at)+" ago", @proposal.url %></small>
      </p>
      <p>
        <%= render_github_markdown(@proposal.github_pr.body) %>
      </p>
    </div>
    <% @comments.each do |comment| %>
      <% user = User.find_by_login(comment.user.login) %>
      <% by_proposer = (user == @proposal.proposer) %>
      <% unless comment.body =~ /votebot instructions/ %>
        <% boxclass = 'well' %>
        <% boxclass = 'alert alert-danger' if comment.body.contains_block? %>
        <% boxclass = 'alert alert-warning' if comment.body.contains_downvote? %>
        <% boxclass = 'alert alert-success' if comment.body.contains_upvote? %>
        <div class='comment <%= boxclass %> <%= by_proposer ? 'pull-left' : 'pull-right' %>'  style='width: 75%'>
          <p class='<%= by_proposer ? 'pull-left' : 'pull-right' %>'>
            <%= render partial: 'shared/person', locals: { person: user } %>
          </p>
          <p>
            <small><%= link_to time_ago_in_words(comment.created_at)+" ago", comment.html_url %></small>
          </p>
          <p>
            <%= render_github_markdown(comment.body) %>
          </p>
        </div>
      <% end %>
    <% end %>
    <div style="clear: both">
      <a class='btn btn-primary btn-block' href='<%= @proposal.url %>'>
        <%= fa_icon 'comment' %>
        To comment or vote, please click here to visit the GitHub pull request
      </a>
    </div>
  </div>

  <div class='col-md-3'>
    <div class='panel panel-success agree'>
      <div class="panel-heading">
        <%= vote_icon('agree')%>
        Agree: <%= @proposal.agree.count %>
      </div>
      <div class='panel-body'>
        <%= render partial: 'shared/person', collection: @proposal.agree.map{|v| v.user} %>
      </div>
    </div>

    <div class='panel panel-warning abstain'>
      <div class="panel-heading">
        <%= vote_icon('abstain')%>
        Disagree: <%= @proposal.abstain.count %>
      </div>
      <div class='panel-body'>
        <%= render partial: 'shared/person', collection: @proposal.abstain.map{|v| v.user} %>
      </div>
    </div>

    <div class='panel panel-danger block'>
      <div class="panel-heading">
        <%= vote_icon('block')%>
        Block: <%= @proposal.block.count %>
      </div>
      <div class='panel-body'>
        <%= render partial: 'shared/person', collection: @proposal.block.map{|v| v.user} %>
      </div>
    </div>
    
    <div class='panel panel-default participants'>
      <div class="panel-heading">
        Participants: <%= @proposal.participants.count %>
      </div>
      <div class='panel-body'>
        <%= render partial: 'shared/person', collection: @proposal.participants %>
      </div>
    </div>

  </div>

</div>