<ol class="breadcrumb">
  <li><a href="/">All Proposals</a></li>
  <li class="active">#<%= @proposal.number %></li>
</ol>

<h1>
  <%= @proposal.title %>
  <a href='<%= @proposal.url %>'>
    <%= fa_icon 'github' %>
  </a>
</h1>

<div class='row' style='text-align: center'>
  <div class='col-md-3 user'>
    Proposer
    <br/>
    <%= render partial: 'shared/person', locals: { person: @proposal.proposer } %>
  </div>
  <div class='col-md-3'>
    State
    <br/>
    <h2>
      <span class='label label-<%= row_class(@proposal) %>'>
        <%= state_icon(@proposal.state) %>
        <%= @proposal.state.capitalize %>
      </span>
    </h2>
  </div>
  <div class='col-md-3'>
    Vote Score
    <br/>
    <% rowclass = @proposal.blocked? ? "danger" : "warning" %>
    <% rowclass = 'success' if @proposal.agreed? %>
    <h2><span class='label label-<%= rowclass %>'><%= @proposal.score %></span></h2>
  </div>
  <div class='col-md-3'>
    Age
    <br/>
    <h2>
      <% rowclass = @proposal.too_old? || @proposal.too_new? ? "danger" : "success" %>
      <span class='label label-<%= rowclass %>'><%= @proposal.age %> days</span>
    </h2>
  </div>
</div>

<hr/>

<div class='row'>

  <div class='col-md-9'>

    <% @activity.each do |x| %>
      <%= render partial: x[0], locals: x[1] %>
    <% end %>
    
    <div style="clear: both">
      <a class='btn btn-primary btn-block' href='<%= @proposal.url %>'>
        <%= fa_icon 'comment' %>
        To comment or vote, please click here to visit the GitHub pull request
      </a>
    </div>
  </div>

  <div class='col-md-3'>
    
    <div class='panel panel-default'>
      <div class="panel-heading">
        Activity
      </div>
      <div class='panel-body'>
        <% @proposal.participants.each do |user| %>
          <div class='alert alert-<%= user_row_class(user.vote(@proposal)) %>'>
            <%= render partial: 'shared/person', locals: { person: user } %>
            <%= vote_icon(user.vote(@proposal), size: "lg") %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>