<div class="alert alert-success">
  <%= fa_icon 'check-circle' %>
  <%= t 'help.success_title' %>
</div>

<div>
  <p>
    <%= t 'help.success' %>
  </p>
  <% if @has_cla %>
    <p>
      <%= t :cla %>
    </p>
    <p>
      <%= link_to "#{fa_icon('check')} #{t(:sign_cla)}".html_safe, @cla_url, class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>

<div>
  <%= link_to "#{fa_icon('globe')} #{t(:return)}".html_safe, @return_to, class: 'btn btn-primary' if @return_to %>
  <%= link_to "#{fa_icon('code-fork')} #{t(:view)}".html_safe, proposal_path(@pr), class: 'btn btn-default' %>
  <%= link_to "#{fa_icon('list')} #{t(:view_all)}".html_safe, proposals_path, class: 'btn btn-default' %>
</div>
