<%= form_tag action: 'message' do %>

<div class='pull-right'>
  <a class='btn btn-success' href='/new/<%= @branch%>'>
    <%= fa_icon 'plus' %>
    Create new file instead
  </a>
</div>

<h1>Suggest a change to <em><%= @filename %></em></h1>

<div class="form-group alert alert-success">
  <%= fa_icon 'question-circle' %>
  <%= t 'help.edit' %>
</div>

<%= hidden_field_tag "filename", @filename %>

<%= render 'edit_form' %>

<% end %>