<html>
  <head>
    <title>OpenPolitics Votebot</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="//openpolitics.org.uk/css/main.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link type="image/png" sizes="64x64" href="/assets/logo64.png" rel="icon"></link>
    <link sizes="180x180" href="/assets/apple-touch-icon.png" rel="apple-touch-icon"></link>
    <style>
       body {
         padding-top: 50px;
       }
     </style>
  </head>
  <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://openpolitics.org.uk/index.html">
              <img src="/assets/logo64_inverted.png" alt="logo" height="20" style="vertical-align: text-bottom">&nbsp;OpenPolitics
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="https://openpolitics.org.uk/manifesto/index.html">Manifesto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li> <a href="https://openpolitics.org.uk/manifesto/index.html">Introduction</a></li>
                  
                  
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/communications.html">Communications</a></li>
                    
                  
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/crime.html">Crime &amp; Justice</a></li>
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/culture.html">Culture &amp; Media</a></li>
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/democracy.html">Democracy</a></li>
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/economy.html">Economy</a></li>
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/education.html">Education</a></li>
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/energy.html">Energy</a></li>
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/environment.html">Environment</a></li>
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/foreign_policy.html">Foreign Policy</a></li>
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/health.html">Health</a></li>
                    
                  
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/constituencies/horsham.html">Horsham</a></li>
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/housing.html">Housing</a></li>
                    
                  
                    
                  
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/infrastructure.html">Infrastructure</a></li>
                    
                  
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/local_government.html">Local Government</a></li>
                    
                  
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/military.html">Military</a></li>
                    
                  
                    
                  
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/science.html">Science</a></li>
                    
                  
                    
                  
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/society.html">Society</a></li>
                    
                  
                    
                  
                    
                  
                    
                      <li> <a href="https://openpolitics.org.uk/manifesto/transport.html">Transport</a></li>
                    
                  
                </ul>
              </li>
              <li><a href="/proposals">Proposals</a></li>
              <li><a href="/users">Contributors</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if signed_in? %>
                <li><%= link_to fa_icon("sign-out lg"), destroy_user_session_path, method: "delete", class: 'sign-out' %></li>
                <li><%= link_to fa_icon("cog lg"), edit_user_path(current_user) %></li>
                <li class='toolbar-avatar'>
                  <%= render partial: "shared/person", locals: {person: current_user} %>
                </li>
              <% else %>
                <li><%= link_to ("Sign in "+fa_icon("sign-in")).html_safe, user_github_omniauth_authorize_path %></li>
              <% end %>
              </li>
            </ul>
            
            <!--<form class="navbar-form navbar-right" role="search" action='/search.html' method='get' style='margin-right: 20px'>
              <div class="form-group">
                <input type="text" class="form-control" name='query' placeholder="Search">
              </div>
            </form>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>  
    
    <div class='container'>

      <% if notice %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-warning"><%= alert %></div>
      <% end %>

      <%= yield %>

      <footer class='well'>
        Code available on <a href='https://github.com/openpolitics/votebot'>GitHub</a>. Error tracking generously provided by <a href='http://bugsnag.com'>Bugsnag</a>.
      </footer>
      
    </div>
    
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  </body>
</html>